@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    /* primary colors */
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    /* neutral colors */
    --clr-main-bg: hsl(217, 54%, 11%);
    --clr-card-bg: hsl(216, 50%, 16%);
    --clr-line: hsl(215, 32%, 27%);
    --clr-white: hsl(0, 0%, 100%);
}


body {
    font-family: 'Outfit', sans-serif;
    background: var(--clr-main-bg);
    
    /* note 1 [1/2]: write the following lines to have the content vertically centered (regardless of the body's height) : */
    min-height: 100vh;
    display: grid;
    align-content: center;  
}

.card-container {
    margin: auto;
/*     margin-top: 150px;*/ /*<<== note 1 [2/2]: then delete this line */
    background: var(--clr-card-bg);
    height: 595px;
    width: 340px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.card-content {
    padding: 20px;
}

.img-container {
    background-image: url(images/image-equilibrium.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    height: 300px;
    width: 100%;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
/*     opacity: 0; */  /*note 2 [1/5]: For the icon-view's problem opacity : deleted this one*/
    transition: .5s ease;
/*     background-color: var(--cyan); */  /*note 2 [2/5]: deleted this one too */
}

.img-view {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;  /*note 2 [3/5] : add this line to hide icon-view*/
}

.img-container:hover .overlay {
    cursor: pointer;
/*     opacity: 0.5;     */  /*note 2 [4/5]: deleted this line and replaced it by: */
    background-color: hsla(178, 100%, 50%, 0.5);
}

/* note 2 [5/5]: add the following lines to display icon-view when hovering */
.img-container:hover .img-view {
    display: block;
}


.card-content a {
    text-decoration: none;
    color: inherit;
}

.card-content a:hover {
    color: var(--cyan);
    cursor: pointer;
}

.card-details {
    margin-top: 28px;
}

.card-title {
    color: var(--clr-white);
    font-size: 22px;
    font-weight: 600;
}

.card-description {
    color: var(--soft-blue);
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5rem;
    margin-bottom: 25px;
}

.card-numbers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
    font-size: 16px;
}

.card-numbers .card-eth {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    color: var(--cyan);
    font-weight: 400;
}

.card-numbers .card-days-left {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    color: var(--soft-blue);
}

.separator-line {
    border-top: 1px solid var(--clr-line);
}

.card-avatar {
    margin-top: 10px;
    display: flex;
    align-items: center;
    color: var(--soft-blue);
}

.card-avatar a {
    padding-left: 2px;
    color: var(--clr-white);
}

.img-avatar {
    width: 30px;
    height: 30px;
    border: 1.5px solid var(--clr-white);
    border-radius: 50%;
    margin-right: 18px;
}
